body {
    font-family: cursive;
    font-weight: 300;
    word-spacing: 2 px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    
    font-weight: 100;

}



.menu-content-1, .menu-content-2, .menu-content-3 {
    border: black;
    border-width: 1px;
    border-style: solid;
    margin: 5px 10px 5px 10px;
    /* background-color: grey; */
    display: inline-block;
}

.menu-content-1 {background-color: #e5e5e5; color: #6d6875;}

.menu-content-2 {background-color: #a8dadc; color: #2b2d42;}

.menu-content-3 {background-color: #fcd5ce; color: #606c38;}


.beef, .sushi, .chicken {
    padding: 5px 10px 5px 10px;
    float: right;
    /* border-bottom: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left: black;
    border-left-width: 2px;
    border-left-style: solid; */
    border: 1px solid black;
    border-right: none;
    border-top: none;
    color: black;
}

.chicken {
    background-color: #e5989b;
}

.beef {
    background-color: #f9dcc4;
    
}

.sushi {
    background-color: lavender;
}

p {
    text-align: justify;
    padding: 10px 20px 10px 20px;
}

.main-div {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .menu-content-1, .menu-content-2, .menu-content-3 {
        width: 80%;
        margin: 10px auto 0 auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .menu-content-1, .menu-content-2 {
        width: 45%;
    }

    .menu-content-3 {
        width: 93%;
    }
}

@media only screen and (min-width: 992px) {
    .menu-content-1, .menu-content-2, .menu-content-3 {
        width: 30%;
    }
}